body{
    background-color: #2C3E50;
}

p,td,tr,th,h1,h2,h3,table {
    padding: 5px;
    margin: auto;
    color: lightyellow;
    align-content: center;
    alignment: center;
    align-self: center;
    align-items: center;
}

img{
    min-height: 30%;
    min-width: 30%;
}

p:hover {
    background-color: #34495E;
    color: yellow;
}

.menu-btn{
    background-color: cornflowerblue;
    color: aliceblue;
    alignment: center;
}

.menu-tbl{
    width: 100%;
}

.menu-btn:hover{
    background-color: lightblue;
    color: white;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid #34495E;
    padding: 10px;
}